*{
  box-sizing: border-box;
}

html, body, #root, #root > div {
  height: 100%;  
  width: 100% !important;
  margin: 0;
  overflow: auto;
  padding: 0;
  background-color: rgb(240, 243, 245);
  font-family: "Poppins",sans-serif;
}

